/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* reset */

/* header styling */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2% 2%;
    height: 100px;
}

.header__container__logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container__logo__container a img {
    width: 60px;
}

.logo__container__text {
    padding-left: 20px;
}

.logo__container__text h1 {
    font-size: 24px;
}

.logo__container__text span {
    color: #2f86d6;
    font-weight: bold;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
    color: #233032;
    font-weight: 700;
    font-size: 14px;
    transition: .4s ease-in-out;
}

header nav a:hover {
    border-bottom: 1px #2f86d6 solid;
}
/* header styling */