/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* reset */

/* header styling */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2% 2%;
    height: 100px;
}

.header__container__logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container__logo__container a img {
    width: 60px;
}

.logo__container__text {
    padding-left: 20px;
}

.logo__container__text h1 {
    font-size: 24px;
}

.logo__container__text span {
    color: #2f86d6;
    font-weight: bold;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
    color: #233032;
    font-weight: 700;
    font-size: 14px;
    transition: .4s ease-in-out;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

header nav a:hover {
    box-shadow: 0 0 6px 6px rgba(47, 134, 214, 0.5);
}
/* header styling */

/* banner styling */
section.banner {
    background-color: #2f86d6;
    color: #fff;
    min-height: calc(85vh - 100px);
    display: flex;
}

.banner__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    padding: 0 2%;
}

header.banner__container__text {
    flex: 1;
}

header.banner__container__text h2 {
    padding: 5% 0;
    font-size: 40px;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 2px 2px 8px #233032;
}

header.banner__container__text p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 35px;
    text-shadow: 2px 2px 8px #233032;
}

div.banner__container__image {
    flex: 1;
}
/* banner styling */

/* ads styling */
section.ads {
    background-color: #233032;
    min-height: 15vh;
    color: #fff;
}

.ads__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 143px;

}


.ads__container__text h3 {
    letter-spacing: 1px;
    font-style: italic;
    font-size: 25px;
}

.ads__container__text p {
    letter-spacing: 1px;
    line-height: 35px;
}



.ads__container__link a {
    color: #fff;
    background-color: #2f86d6;
    padding: 15px;
    border-radius: 5px;
    transition: .4s ease-in-out;
    border: none;
}

.ads__container__link a:hover {
    box-shadow: 0 0 8px 8px rgba(47, 134, 214, 0.5);
}
/* ads styling */

/* informations styling */
section.informations {
    min-height: 100vh;
}

.informations__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}


.informations__container__header h3 {
    font-size: 30px;
    width: 900px;
    text-align: center;
    padding: 5%;
}
.informations__container__header strong.informations {
    color: #2f86d6;
}

.informations__container__boxes {
    display: flex;
    justify-content: space-between;
}

.informations__container__boxes__content {
    text-align: center;
    border: 1px solid #2f86d6;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 0 0 8px 8px rgba(35, 48, 50, 0.5) inset;
}



.informations__container__boxes__content:nth-child(1) {
    margin-right: 10px;
}


.informations__container__boxes__content:nth-child(3) {
    margin-left: 10px;
}



.informations__container__boxes__content h4 {
    padding: 5% 0;
}


.informations__container__boxes__content img {
    width: 100px;
}

.informations__container__boxes__content h4 {
    font-size: 20px;
    letter-spacing: 1px;
    font-style: italic;
}

.informations__container__boxes__content p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 35px;
}
/* informations styling */